* {
	margin: 0;
	padding: 0;
}

body {
	cursor: default;
	-ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
	line-height: 1;
	color: white;
	background: #BDDEBA;
	/*background-image: url('img/background.jpg');*/
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
}

.space {
	height: 42px;
}

.spacex2 {
	/*height: 100px;*/
}


.wrapper {
	margin-top: 20px;
	width: 968px;
	margin: auto;
	text-align:  center;
	font-size: 36px;
	text-shadow: 2px 2px 5px black;
	background-color: #7bbd75;
	opacity: 0.91;
}

.inst {
	margin: 10px 0;
	font-size: 42px;
}

h1.rules {
	padding-top: 5px;
	color: rgb(242, 71, 71);
	font-size: 20px;
	height: 25px;
	background-color: #3e9dfd;
}

p.rules {
	color: #ccc;
	font-size: 14px;
	padding: 10px 60px;
	background-color: #3e9dfd;
}

span.lessThan {
	font-size: 16px;
	color: #77bafd;
	text-shadow: 2px 2px 8px #000;
}

span.moreThan {
	font-size: 16px;
	color: rgb(242, 71, 71);
}

#userNumber {
	text-align: right;
	width: 69px;
	height: 38px;
	font-size: 36px;
	border-radius: 8px;
}

.buttons {
	width: 96px;
	height: 42px;
	border-radius: 8px;
}

input {
	vertical-align: middle;
}

#totalExp {
	height: 36px;
	color: #E2ECF2;
}

@keyframes fadeOut {
	to {background-color: rgba(255,255,255, 0.7);}
}

@keyframes fadeIn {
	to {background-color: rgba(254,246,91, 0.7);}
}

#createElems {
	height: 18px;
}

#createElems .newElem{
	vertical-align: top;
	height: 16px;
	width: 8px;
	display: inline-block;
	background-color: rgba(255,255,255, 0.7);
}

#createElems .newElem:hover::before {
	content: attr(data-title);
	font-size: 16px;
	color: #000;
	z-index: 666;
	position: relative;
	left: 15px;
	top: -25px;
}

.console {
	padding-left: 10px;
	background-color: black;
	min-height: inherit;
	text-align: left;
	font-size: 20px;
	opacity: 0.7;
}

#wins {
	color: #1dc942;
}

#stars {
	min-height: 69px;
}

#phone {
	display: none;
}

#comp {
	display: inline-block;
}

#version {
	color: #afd7ac;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #7bbd75;
	opacity: 0.7;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	#version {
		opacity: 1;
		padding: 5px;
	}
	.body {
		margin-top: 0;
		width: 95%;
		font-size: 42px;
		opacity: 0.96;
		font-weight: normal;
		letter-spacing: 1px;
	}

	.inst {
		margin: 5px 0;
		font-size: 66px;
	}

	.spaceStars {
		padding: 3px 0;
		min-height: 69px;
	}

	.spacex2 {
/*		height: 330px;*/
	}

	h1.rules {
		font-size: 42px;
		height: 50px;
		background-color: #191F30;
	}

	p.rules {
		color: #eee;
		text-align: justify;
		padding: 10px 15px;
		font-size: 40px;
		text-shadow: none;
		background-color: #191F30;
	}

	span.lessThan {
		font-size: 40px;
	}

	span.moreThan {
		font-size: 40px;
		text-shadow: 2px 2px 8px #000;
	}

	#userNumber {
		width: 150px;
		height: 84px;
		text-align: center;
		font-size: 84px;
		border-radius: 16px;
	}

	.buttons {
		width: 33%;
		height: 84px;
		font-size: 42px;
		border-radius: 16px;
	}

	.console {
		padding-left: 20px;
		font-size: 36px;
		opacity: 0.8;
		padding-bottom: 26px;
	}

	#wins {
		font-size: 42px;
	}

	#stars {
		min-height: 69px;
	}

	#respDesigh {
		display: none;
	}

	#phone {
		display: inline-block;
	}

	#comp {
		display: none;
	}
}